body{
background-image: url(background.jpg);
background-size: cover;
}

.box{
width: 60%;
padding: 80px;
margin: auto;
border-radius: 15px;
background: rgba(0, 0, 0, 0.5)
} /* impostazione riquadro semitrasparente */

.logo{
width: 25%;
}

#testo{
color: lime;
padding-bottom: 5px;
font-size: 25px;
}

.prenotazione{
background-color: lime;
padding: 10px;
}

#testo, .prenotazione, header>p{
text-align: center;
}

.mono{
font-size: 20px;
font-weight: bold;
}

.simboli:before{
content: "\21A6";
}

.simboli:after{
content: "\2013";
}

.battery1{
width: 30%;
background-color: orange;
}

.battery2{
width: 55%;
background-color: green;
}

.battery3{
width: 15%;
background-color: red;
} /* stato carica batterie */

.battery1, .battery2, .battery3{
height: 20px;
border-radius: 5px;
} /* impostazione righe batterie */

span{
color: white;
}

